<div class="input-group mr-2">
  <input
    class="form-control"
    [(ngModel)]="ptStr"
    (change)="onInputChange($event)"
    maxLength={{lenInput}}
    type="text"
    placeholder="{{inputDatetimeFormat}}"
  />

  <div class="input-group-append">
    <button
      class="btn btn-outline-secondary"
      [ngbPopover]="calendarContent"
      type="button"
			[autoClose]="autClose"
    >
      <fa-icon [icon]="['fas', 'calendar-day']"></fa-icon>
    </button>
  </div>
</div>

<ng-template #calendarContent>
  <div *ngIf="!showTimePickerToggle">
    <ngb-datepicker
      style="display: block;"
      #dp
      name="datepicker"
      (dateSelect)="onDateChange($event)"
      [(ngModel)]="ptDate"
      [startDate]="ptDate"
    ></ngb-datepicker>
    <button *ngIf="enableTime"
            style="width: 50%"
            class="btn btn-block btn-outline-secondary"
            [ngbPopover]="calendarContent"
            type="button"
            (click)="toggleDateTimeState($event)"
    >
      <fa-icon [icon]="['fas', 'clock']"></fa-icon>
    </button>
    <button style="width: 50%"
            class="btn btn-block btn-outline-secondary"
            type="button"
            (click)="setToday()"
    >
      Dzisiaj
    </button>
  </div>
  <div *ngIf="showTimePickerToggle">
    <button
      style="width: 100%"
      class="btn btn-block btn-outline-secondary"
      [ngbPopover]="calendarContent"
      type="button"
      (click)="toggleDateTimeState($event)"
    >
      <fa-icon [icon]="['fas', 'calendar-day']"></fa-icon>
    </button>
    <div class="mt-auto">
      <ngb-timepicker
        name="timepicker"
        [(ngModel)]="ptTime"
        [seconds]="seconds"
        [hourStep]="hourStep"
        [minuteStep]="minuteStep"
        [secondStep]="secondStep"
      >
      </ngb-timepicker>
    </div>
  </div>
</ng-template>
