<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
          <p class="text-center font-weight-light my-4 aq-login-title">
            {{tittle}}
          </p>
        </div>
        <div class="card-body">
          <form
            name="form"
            #frm="ngForm"
            (ngSubmit)="frm.form.valid && onSubmit()"
            novalidate
          >
            <!--================================= login =========================================-->
            <div class="form-group">
              <label class="small mb-1" for="inputLogin">Login</label
              ><input
              id="inputLogin"
              class="form-control py-2"
              required
              minlength="4"
              [(ngModel)]="this.userName"
              name="usrnamaq"
              #usrnam="ngModel"
            />
            </div>
            <div
              class="alert alert-wr-danger"
              role="alert"
              *ngIf="usrnam.errors && frm.touched"
            >
              <div *ngIf="usrnam.errors['required']">Pole jest wymagane</div>
              <div *ngIf="usrnam.errors['minlength']">
                Login musi mieć ponad 3 znaki
              </div>
            </div>
            <!--================================= stare hasło ====================================-->
            <div class="form-group">
              <label class="small mb-1" for="oldPassword">Dotychczasowe hasło</label
              ><input
              class="form-control py-2"
              id="oldPassword"
              type="password"
              name="opasswd"
              [(ngModel)]="this.oldPasswd"
              required
              minlength="6"
              #opasswd="ngModel"
            />
            </div>
            <div
              class="alert alert-wr-danger"
              role="alert"
              *ngIf="opasswd.errors && frm.touched"
            >
              <div *ngIf="opasswd.errors['required']">Pole jest wymagane</div>
              <div *ngIf="opasswd.errors['minlength']">
                Hasło musi mieć ponad 6 znaków
              </div>
            </div>
            <!--================================= nowe hasło ====================================-->
            <div class="form-group">
              <label class="small mb-1" for="newPassword">Nowe hasło</label
              ><input
              class="form-control py-2"
              id="newPassword"
              type="password"
              name="npasswd"
              [(ngModel)]="this.newPasswd"
              required
              minlength="6"
              #npasswd="ngModel"
              (blur)="validateForm()"
            />
            </div>
            <div
              class="alert alert-wr-danger"
              role="alert"
              *ngIf="npasswd.errors && frm.touched"
            >
              <div *ngIf="npasswd.errors['required']">Pole jest wymagane</div>
              <div *ngIf="npasswd.errors['minlength']">
                Hasło musi mieć ponad 6 znaków
              </div>
            </div>
            <!--================================= nowe hasło powtórzenie ========================-->
            <div class="form-group">
              <label class="small mb-1" for="repPassword">Powtórz nowe hasło</label
              ><input
              class="form-control py-2"
              id="repPassword"
              type="password"
              type="password"
              name="rpasswd"
              [(ngModel)]="this.repPasswd"
              required
              minlength="6"
              #rpasswd="ngModel"
              (blur)="validateForm()"
            />
            </div>
            <div
              class="alert alert-wr-danger"
              role="alert"
              *ngIf="rpasswd.errors && frm.touched"
            >
              <div *ngIf="rpasswd.errors['required']">Pole jest wymagane</div>
              <div *ngIf="rpasswd.errors['minlength']">
                Hasło musi mieć ponad 6 znaków
              </div>
            </div>
            <!--================================= button submit =================================-->

            <div class="card-footer">

              <div class="row mt-4" *ngIf="msg">
                <div class="col-2">
                </div>
                <div class="col-8">
                  <ngb-alert class="text-center" #selfClosingAlert [type]="alertType" (closed)="clearMsg()">{{ msg }}</ngb-alert>
                </div>
              </div>

              <div class="row mt-4" *ngIf="validMsg">
                <div class="col-1">
                </div>
                <div class="col-10">
                  <div class="alert alert-wr-danger text-center" role="alert" >
                    {{validMsg}}
                  </div>
                </div>
                <div class="col-1">
                </div>
              </div>

              <div class="row">
                <div class="col-10">
                </div>
                <div class="col-2 d-flex-right">
                  <button type="submit" class="btn btn-primary" [disabled]="frm.invalid || validMsg">Zapisz</button>
                </div> <!-- ----------------------------------------------------------- -->
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
  </div>

