<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="card-header">
            <p class="text-center font-weight-light my-4 aq-login-title">
              Zmiana hasła
            </p>
          </div>
          <div class="card-body">
            <form
              name="form"
              #frm="ngForm"
              (ngSubmit)="frm.form.valid && onSubmit()"
              novalidate
            >
              <!--================================= login =========================================-->
              <div class="form-group">
                <label class="small mb-1" for="inputLogin">Login</label
                ><input
                  id="inputLogin"
                  class="form-control py-2"
                  required
                  minlength="4"
                  [(ngModel)]="this.userName"
                  name="usrnam"
                  #usrnam="ngModel"
                />
              </div>
              <div
                class="alert alert-wr-danger"
                role="alert"
                *ngIf="usrnam.errors && frm.touched"
              >
                <div *ngIf="usrnam.errors['required']">Pole jest wymagane</div>
                <div *ngIf="usrnam.errors['minlength']">
                  Login musi mieć ponad 3 znaki
                </div>
              </div>
              <!--================================= stare hasło ====================================-->
              <div class="form-group">
                <label class="small mb-1" for="oldPassword">Nowe hasło</label
                ><input
                  class="form-control py-2"
                  id="oldPassword"
                  type="password"
                  type="password"
                  name="opasswd"
                  [(ngModel)]="this.oldPasswd"
                  required
                  minlength="6"
                  #opasswd="ngModel"
                />
              </div>
              <div
                class="alert alert-wr-danger"
                role="alert"
                *ngIf="opasswd.errors && frm.touched"
              >
                <div *ngIf="opasswd.errors['required']">Pole jest wymagane</div>
                <div *ngIf="opasswd.errors['minlength']">
                  Hasło musi mieć ponad 6 znaków
                </div>
              </div>
              <!--================================= nowe hasło ====================================-->
              <div class="form-group">
                <label class="small mb-1" for="newPassword">Nowe hasło</label
                ><input
                  class="form-control py-2"
                  id="newPassword"
                  type="password"
                  type="password"
                  name="npasswd"
                  [(ngModel)]="this.newPasswd"
                  required
                  minlength="6"
                  #npasswd="ngModel"
                />
              </div>
              <div
                class="alert alert-wr-danger"
                role="alert"
                *ngIf="npasswd.errors && frm.touched"
              >
                <div *ngIf="npasswd.errors['required']">Pole jest wymagane</div>
                <div *ngIf="npasswd.errors['minlength']">
                  Hasło musi mieć ponad 6 znaków
                </div>
              </div>
              <!--================================= nowe hasło powtórzenie ========================-->
              <div class="form-group">
                <label class="small mb-1" for="repPassword">Powtórz nowe hasło</label
                ><input
                  class="form-control py-2"
                  id="repPassword"
                  type="password"
                  type="password"
                  name="rpasswd"
                  [(ngModel)]="this.repPasswd"
                  required
                  minlength="6"
                  #rpasswd="ngModel"
                />
              </div>
              <div
                class="alert alert-wr-danger"
                role="alert"
                *ngIf="rpasswd.errors && frm.touched"
              >
                <div *ngIf="rpasswd.errors['required']">Pole jest wymagane</div>
                <div *ngIf="rpasswd.errors['minlength']">
                  Hasło musi mieć ponad 6 znaków
                </div>
              </div>
              <!--================================= button submit =================================-->
              <div
                class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"
              >
                <button
                  class="btn btn-primary aq-div-right"
                  routerLink="/dashboard"
                  [disabled]="frm.invalid"
                >
                  Login
                </button>
              </div>
              <!--=================================================================================-->
            </form>
          </div>
          <!--        <div class="card-footer text-center">
            <div class="small">
              <a>Need an account? Sign up!</a>
            </div>  
          </div> -->
        </div>
      </div>
    </div>
  </div>
  
