<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
          <p class="text-center font-weight-light my-4 aq-login-title">
            Szczegóły zamówienia
          </p>
          <hr>
          <div class="row mb-2 justify-content-md-center">
            <div class="col-2">
              <label class="form-label ps-3">Zamówienie nr</label>
              <p class="form-control ps-3">{{order.order_id}}</p>
            </div> <!-- ----------------------------------------------------------- -->
            <div class="col-2">
              <label class="form-label ps-3">z dnia:</label>
              <p class="form-control ps-3">{{order.order_timestamp}}</p>
            </div><!-- ----------------------------------------------------------- -->
            <div class="col-3">
              <label class="form-label ps-3">Klient:</label>
              <p class="form-control ps-3">{{order.customer}}</p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">Id produktu</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Opis</th>
                <th scope="col" class="text-right">Ilość</th>
                <th scope="col" class="text-right">Cena</th>
                <th scope="col" class="text-right">Wartość</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let itm of items">
                <td>{{ itm.product_id }}</td>
                <td>{{ itm.product_name }}</td>
                <td>{{ itm.product_description }}</td>
                <td class="text-right">{{ itm.quantity }}</td>
                <td class="text-right">{{ itm.unit_price | pricestr}}</td>
                <td class="text-right">{{ itm.item_value | pricestr}}</td>
              </tr>
              </tbody>
            </table>

            <!-- TODO linkowanie do strony użytkownika - udemy lekcja 178 -->

            <div class="d-flex justify-content-between p-2">
              <ngb-pagination
                [collectionSize]="this.total"
                [(page)]="this.page"
                [pageSize]="this.pageSize"
              ></ngb-pagination>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-2"> <!-- ----------------------------------------------------------- -->
              <button type="button" class="btn btn-secondary" [routerLink]="['/orders/orders']">Wróć</button>
            </div> <!-- ----------------------------------------------------------- -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




