<span
  class="sb-nav-fixed"
  [ngClass]="{ 'sb-sidenav-toggled': !sideNavVisible }"
>
  <nav class="sb-topnav navbar navbar-expand navbar-dark wr-dark">
    <a routerLink="">
      <img
        src="assets/brand/aquarius_full.png"
        class="aq-brand-img"
        width="200"
        height="40"
        alt="aquarius"
      />
    </a>
<!--       <img
        src="assets/brand/warta_logo.png"
        class="aq-brand-img"
        width="140"
        height="50"
        alt="aquarius"
      />
    </a>
    <a class="aq-app" >
      Magdruk
    </a> -->
    <!--<img src="assets/brand/WARTA LOGO RGB KON.png" class="aq-brand-img" width="140" height="53" alt="warta">-->
    <button
      class="btn btn-link btn-sm order-1 order-lg-0"
      id="sidebarToggle"
      data-cy="topNavToggleSideNav"
      (click)="toggleSideNav()"
    >
      <fa-icon [icon]="['fas', 'bars']"></fa-icon></button
    ><!-- Navbar Search-->
    <form
      class="d-none d-md-inline-block form-inline ms-auto mr-0 mr-md-3 my-2 my-md-0"
    >
      <div class="input-group"></div>
    </form>
    <!-- Navbar-->
    <ng-container *ngIf="this.tokenStorage.isLoggedIn()">
      <ul class="navbar-nav ml-auto ml-md-0">
        <li
          class="nav-item dropdown dropdown-user no-caret"
          ngbDropdown
          placement="bottom-right"
          display="dynamic"
        >
          <a
            class="nav-link dropdown-toggle"
            id="userDropdown"
            ngbDropdownToggle
            data-cy="userMenu"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <fa-icon [icon]="['fas', 'user']"></fa-icon>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            ngbDropdownMenu
            aria-labelledby="dropdownUser"
          >
            <h6 class="dropdown-header">
              <div class="dropdown-user-details">
                <div class="dropdown-user-details-name">
                  {{ this.tokenStorage.user.firstName }}
                  {{ this.tokenStorage.user.lastName }}
                </div>
                <div class="dropdown-user-details-email">
                  {{ this.tokenStorage.user.email }}
                </div>
              </div>
            </h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['passwdChg']"  [queryParams]="{ tittle: 'Zmiana hasła'}"  >Zmiana hasła</a>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="logout()">
              Wyloguj się
            </button>
          </div>
        </li>
        <!--^^^^^^^^^^^^^^^^^  <sb-top-nav-user></sb-top-nav-user>  ^^^^^^^^^^^^^^^^-->
      </ul>
    </ng-container>
  </nav>
  <!--^^^^^^^^^^^^^^^^^  <sb-top-nav></sb-top-nav>  ^^^^^^^^^^^^^^^^-->
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav
        id="sidenavAccordion"
        class="sb-sidenav accordion sb-sidenav-dark wr-sidenav-dark"
      >
        <div class="sb-sidenav-menu" style="overflow-y: unset;">
          <div class="nav" *ngIf="tokenStorage.isLoggedIn()">
            <ng-container *ngFor="let section of sideNavSections">
              <ng-container
                *ngIf="isAccess(this.tokenStorage.user.roles, section.roles)">
                <div class="sb-sidenav-menu-heading" *ngIf="section.text">
                  {{ section.text }}
                </div>
                <ng-container *ngFor="let item of section.items">
                    <sb-side-nav-item
                      [sideNavItem]="sideNavItems[item]"
                    ></sb-side-nav-item>
                </ng-container>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div class="sb-sidenav-footer" *ngIf="this.tokenStorage.isLoggedIn()">
          <div class="small">Zalogowany:</div>
          <span *ngIf="userService.user$ | async as user"
            >{{ this.tokenStorage.user.firstName }}
            {{ this.tokenStorage.user.lastName }}</span
          >
        </div>
      </nav>
    </div>
    <div id="layoutSidenav_content" class="wr-bg-gray">
        <div class="container-fluid wr-bg-gray">
          <router-outlet></router-outlet>
        </div>
      <footer class="py-2 bg-light mt-auto">
        <div class="container-fluid">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; AQ 2023</div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</span>
