<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header">
          <p class="text-center font-weight-light my-4 aq-login-title">
            Produkty
          </p>
        </div>
        <div class="card-body">
          <form>
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Nazwa</th>
                <th scope="col">Opis</th>
                <th scope="col" class="text-right">Cena [PLN]</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of productsExt; let i = index">
                <td><img [src]="item.url" alt="item.filename"></td>
                <td>{{ item.product_name }}</td>
                <td>{{ item.product_description }}</td>
                <td class="text-right">{{ item.price_str }}</td>
              </tr>
              </tbody>
            </table>

            <!-- TODO linkowanie do strony użytkownika - udemy lekcja 178 -->

            <div class="d-flex justify-content-between p-2">
              <ngb-pagination
                [collectionSize]="this.total"
                [(page)]="this.page"
                [pageSize]="this.pageSize"
              ></ngb-pagination>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
