<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <form name="form" #frm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="card-header">
            <p class="text-center font-weight-light aq-login-title">
              {{tittle}}
            </p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">  <!-- ----------------------------------------------------------- -->
                <label for="inputProdName" class="form-label">Nazwa produktu</label>
                <input type="text" class="form-control" id="inputProdName" required minlength="6"
                       [(ngModel)]="prod.product_name" name="prodname" #prodname="ngModel"/>
                <div class="alert alert-wr-danger text-center" role="alert" *ngIf="prodname.errors">
                  <div *ngIf="prodname.errors['required']">Pole jest wymagane</div>
                  <div *ngIf="prodname.errors['minlength']">Nazwa musi mieć ponad 5 znaków</div>
                </div>
              </div> <!-- ----------------------------------------------------------- -->
              <div class="col-md-3">
                <label for="selCaterory" class="form-label">Kategoria produktów</label>
                <select class="form-select" [(ngModel)]="prod.category"
                        name="category" id="selCaterory" #category="ngModel" required >
                  <option value="M">Męskie</option>
                  <option value="K">Żeńskie</option>
                  <option value="A">Akcesoria</option>
                </select>
                <div class="alert alert-wr-danger text-center" role="alert" *ngIf="category.errors">
                  <div *ngIf="category.errors['required']">Pole jest wymagane</div>
                </div>
                <div class="alert alert-wr-danger text-center" role="alert" *ngIf="category.value == '???'">
                  <div>Pole jest wymagane</div>
                </div>
              </div> <!-- ----------------------------------------------------------- -->
              <div class="col-md-3">
                <div for="inputPrice" class="form-label text-right">Cena produktu</div>
                <input type="text" class="form-control text-right" id="inputPrice" required
                       [(ngModel)]="prod.price_str" name="prodPrice" #prodprice="ngModel"  (focusout)="onFocusOutPrice($event)"
                       pattern="^\d?\d?\d,\d\d?$|^\d?\d?\d\s?\d\d\d,\d\d$|^\d?\d?\d\s?\d\d\d\s?\d\d\d,\d\d$" />
                <div class="alert alert-wr-danger text-center" role="alert" *ngIf="prodprice.errors">
                  <div *ngIf="prodprice.errors['required']">Pole jest wymagane</div>
                  <div *ngIf="prodprice.errors['pattern']">Niepoprawna liczba</div>
                </div>
              </div> <!-- ----------------------------------------------------------- -->
            </div><!-- ================================================================================ -->
            <div class="row">
                <label for="inputProdDescr" class="form-label">Opis produktu</label>
                <textarea class="form-control" id="inputProdDescr" required minlength="8" rows="3"
                          [(ngModel)]="prod.product_description" name="prodescr" #prodescr="ngModel">
                </textarea>
                <div class="alert alert-wr-danger text-center" role="alert" *ngIf="prodescr.errors">
                  <div *ngIf="prodescr.errors['required']">Pole jest wymagane</div>
                  <div *ngIf="prodescr.errors['minlength']">Login musi mieć ponad 8 znaków</div>
              </div> <!-- ----------------------------------------------------------- -->
            </div> <!-- ===================================================================================   <font-awesome-icon :icon="['far', 'circle-question']" />    -->
            <div class="row md-1">
              <div class="col-6">
                <label class="form-label" style="margin-right: 1rem;">Widok produktu</label>
                <fa-icon  [icon]="['far', 'question-circle']" placement="top" 
                          ngbTooltip="Plik jpg/jpeg, format kwadratowy, max. 10kB"
                          ></fa-icon>
                <input type="file" class="form-control" (change)="onFileSelected($event)" />
                <div class="alert alert-wr-danger text-center" role="alert" *ngIf="prod.filename == '???'">
                  <div>Pole jest wymagane</div>
                </div>
                <div class="alert alert-wr-danger text-center" role="alert" *ngIf="!frmValidOk">
                  <div>Niewłaściwe typ lub rozmiar pliku</div>
                </div>
              </div>
              <div class="col-3 mt-2">
                <img [src]="prod.url" alt="prod.filename" 
                  style="border: 4px solid #CCC; border-radius: 4px;" 
                  width="120px" height="120px"/>
              </div> <!-- ----------------------------------------------------------- -->
              <div class="col-3 mt-2">
                <div class="col-md-2">
                  <label class="form-label" for="Check">Produkt dostępny</label>
                  <div class="input-group">
                    <input
                      class="form-check-input mt-2 offset-3" type="checkbox" id="Check"
                      (change)="changeBlok($event)" [checked]="prod.product_avail == 'Y'"
                    />
                  </div>
                </div>
              </div> <!-- --------------------------------------------------------- -->
            </div> <!-- =================================================================================== -->
          </div>
          <div class="card-footer">
            <div class="row mt-4" *ngIf="msg">
              <div class="col-2">
              </div>
              <div class="col-8">
                <ngb-alert class="text-center" #selfClosingAlert [type]="alertType" (closed)="clearMsg()">{{ msg }}</ngb-alert>
              </div>
            </div>
            <div class="row">
              <div class="col-2"> <!-- ----------------------------------------------------------- -->
                <button type="button" class="btn btn-secondary" [routerLink]="['/tabUser']">Zaniechaj</button>
              </div> <!-- ----------------------------------------------------------- -->
              <div class="col-8">
              </div>
              <div class="col-2 d-flex-right">
                <button type="submit" class="btn btn-primary" [disabled]="frm.invalid && frmValidOk">Zapisz</button>
              </div> <!-- ----------------------------------------------------------- -->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


