<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <form name="form" #frm="ngForm" (ngSubmit)="frm.form.valid && onSubmit()" novalidate>
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="card-header">
            <p class="text-center font-weight-light aq-login-title">
              Edycja danych użytkownika
            </p>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-md-4">
                <label for="inputUsername" class="form-label">Login</label>
                <input type="text" class="form-control" id="inputUsername" required minlength="6"
                       [(ngModel)]="this.user.username" name="usrnam" #usrnam="ngModel"/>
                <div class="alert alert-wr-danger" role="alert" *ngIf="usrnam.errors && frm.touched">
                  <div *ngIf="usrnam.errors['required']">Pole jest wymagane</div>
                  <div *ngIf="usrnam.errors['minlength']">Login musi mieć ponad 5 znaków</div>
                </div>
              </div>
              <div class="col-md-4">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4"
                       [(ngModel)]="this.user.email" name="usrmail" #usrmail="ngModel"/>
              </div>
              <div class="col-md-4">
                <label for="inputPassword4" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="inputPassword4"
                />
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <label for="inputFirstname" class="form-label">Imię</label>
                <input type="text" class="form-control" id="inputFirstname"/>
              </div>
              <div class="col-6">
                <label for="inputLastname" class="form-label">Nazwisko</label>
                <input type="text" class="form-control" id="inputLastname"/>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <label for="inputDateFrom" class="form-label">Data od</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    id="inputDateFrom"
                    placeholder="yyyy-mm-dd"
                    name="dataod"
                    ngbDatepicker
                    #d="ngbDatepicker"
                  />
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="d.toggle()"
                  >
                    <fa-icon [icon]="['fas', 'calendar-day']"></fa-icon>
                  </button>
                </div>
              </div>

              <div class="col-3">
                <label for="inputDateTo" class="form-label">Data do</label>
                <div class="input-group">
                  <input
                    class="form-control"
                    id="inputDateTo"
                    placeholder="yyyy-mm-dd"
                    name="dataod"
                    ngbDatepicker
                    #e="ngbDatepicker"
                  />
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="e.toggle()"
                  >
                    <fa-icon [icon]="['fas', 'calendar-day']"></fa-icon>
                  </button>
                </div>
              </div>

              <div class="col-1">
                <label class="form-label" for="gridCheck"> Blokada </label>
                <div class="input-group">
                  <input
                    class="form-check-input mt-2 offset-3"
                    type="checkbox"
                    id="gridCheck"
                  />
                </div>
              </div>

              <div class="col-3">
                <label for="inputDatePasswd" class="form-label"
                >Ważność hasła do</label
                >
                <div class="input-group">
                  <input
                    class="form-control"
                    id="inputDatePasswd"
                    placeholder="yyyy-mm-dd"
                    name="datapasswd"
                    ngbDatepicker
                    #p="ngbDatepicker"
                  />
                  <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="p.toggle()"
                  >
                    <fa-icon [icon]="['fas', 'calendar-day']"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-2">
                <button type="submit" class="btn btn-light">Zaniechaj</button>
              </div>
              <div class="col-8"></div>
              <div class="col-2 d-flex-right">
                <button type="submit" class="btn btn-primary">Zapisz</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
